// ---------------------------------------------
// Nextflow nf-core config file for Charité HPC
// ---------------------------------------------
// IMPORTANT! Before using this config, please read the documentation (docs/charite.md) fully in order to setup your environment correctly

// The migration of Nextflow to strict syntax has been taken into account during the creation of this config
// It is therefore compatible with NXF_SYNTAX_PARSER=v2 (which is the default parser in Nextflow >=26.04)

// Profile metadata
params {
    config_profile_contact       = 'Scientific Computing, GB IT, Charité (@ScientificComputingCharite) | sc-hpc-helpdesk@charite.de'
    config_profile_description   = 'Scientific Computing Charité HPC Cluster Profile'
    config_profile_name          = 'charite'
    config_profile_url           = 'https://www.charite.de/en/research/research_support_services/research_infrastructure/science_it'

    proj_scratchdir_charite_user = System.getenv('PROJ_SCRATCHDIR_CHARITE_USER')
}

// Instruct Nextflow to ignore custom parameters
validation {
    ignoreParams = ['proj_scratchdir_charite_user']
}

// Process defaults (see https://docs.seqera.io/nextflow/reference/process/directives for more info)
process {
    clusterOptions = '--qos=normal'
    executor       = 'slurm'
    maxRetries     = 5
    queue          = 'compute'
    resourceLimits = [ cpus: 192, memory: 1.TB, time: 2.d ]
    scratch        = true
    stageInMode    = 'symlink'
    stageOutMode   = 'rsync'
    withLabel:process_gpu {
        clusterOptions   = '--gres=gpu:${task.accelerator.request} --qos=normal'
        containerOptions = '--nv'
        queue            = { task.accelerator.request > 1 ? 'pgpu' : 'gpu' }
        resourceLimits   = { task.accelerator.request > 1 ? [ cpus: 128, memory: 2.TB, time: 2.d ] : // pgpu queue
                                                            [ cpus: 64, memory: 500.GB, time: 2.d ] } // gpu queue
    }
}
    
// Slurm defaults
executor {
    queueSize       = 150
    submitRateLimit = '2 sec'
}

// Environment variables
env {
    APPTAINER_CACHEDIR="${params.proj_scratchdir_charite_user}/.apptainer"
    APPTAINER_TMPDIR="${params.proj_scratchdir_charite_user}/.apptainer/tmp"
}

// Container engine settings (see https://docs.seqera.io/nextflow/reference/config/apptainer for more info)
apptainer {
    autoMounts  = true
    // Specify where Apptainer will save images. Override the default path assignment of the
    // config via params.proj_scratchdir_charite_user by exporting NXF_APPTAINER_CACHEDIR
    // to a custom path in your ~/.bashrc or sbatch script. See docs/charite.md for more info
    cacheDir    = System.getenv('NXF_APPTAINER_CACHEDIR') ? System.getenv('NXF_APPTAINER_CACHEDIR') : "${params.proj_scratchdir_charite_user}/apptainer-images"
    enabled     = true
    pullTimeout = 2.h
}

// Specify Nextflow's work directory
workDir = "${params.proj_scratchdir_charite_user}/nxf-work"

// Enable "trace" feature and allow overwriting of existing trace files
trace {
    enabled   = true
    overwrite = true
}

// Enable "report" feature and allow overwriting of existing report files
report {
    enabled   = true
    overwrite = true
}

// Enable "timeline" feature and allow overwriting of existing timeline files
timeline {
    enabled   = true
    overwrite = true
}

// Enable "dag" feature and allow overwriting of existing dag files
dag {
    enabled   = true
    overwrite = true
}

// Additional profiles
// Some of the partitions below are not accessible to all user groups
// If you are having trouble accessing a partition you should have access to, get in touch with sc-hpc-helpdesk@charite.de
profiles {
    dragen_gp {
        process {
            queue          = 'dragen_gp'
            resourceLimits = [ cpus: 48, memory: 240.GB, time: 7.d ]
        }
    }
    dragen_cc05 {
        process {
            queue          = 'dragen_cc05'
            resourceLimits = [ cpus: 64, memory: 500.GB, time: 7.d ]
        }
    }
    dragen_cc15 {
        process {
            queue          = 'dragen_cc15'
            resourceLimits = [ cpus: 64, memory: 500.GB, time: 7.d ]
        }
    }
    highmem {
        process {
            queue          = 'highmem'
            resourceLimits = [ cpus: 192, memory: 4.TB, time: 2.d ]
        }
    }
    genomics {
        process {
            clusterOptions = '--exclude=s-sc-genomics[01]' // Reserved for demultiplexing
            queue          = 'genomics'
            resourceLimits = [ cpus: 192, memory: 1.TB, time: 7.d ]
        }
    }
    // Disable automatic cleanup
    debug {
        cleanup = false
    }
}

// Cleanup after successful run
cleanup = true
