// ---------------------------------------------
// Nextflow nf-core config file for Charité HPC
// ---------------------------------------------
// IMPORTANT! Before using this config, please read the documentation (docs/charite.md) fully in order to setup your environment correctly

// Profile metadata
params {
    config_profile_name         = 'charite'
    config_profile_description  = 'Scientific Computing Charité HPC Cluster Profile'
    config_profile_contact      = 'Scientific Computing, GB IT, Charité (@ScientificComputingCharite) | sc-hpc-helpdesk@charite.de'
    config_profile_url          = 'https://www.charite.de/en/research/research_support_services/research_infrastructure/science_it'

    scratchdir_charite          = System.getenv('SCRATCHDIR_CHARITE')
}

// Instruct Nextflow to ignore custom parameters
validation {
    ignoreParams = ['scratchdir_charite']
}

// Process defaults (see https://docs.seqera.io/nextflow/reference/process/directives for more info)
process {
    clusterOptions = '--qos=normal'
    executor       = 'slurm'
    maxRetries     = 5
    queue          = 'compute'
    resourceLimits = [ cpus: 192, memory: 1.TB, time: 2.d ]
    scratch        = true
    stageInMode    = 'symlink'
    stageOutMode   = 'rsync'
    withLabel:process_gpu {
        clusterOptions   = '--gres=gpu:${task.accelerator.request} --qos=normal'
        containerOptions = '--nv'
        queue            = { task.accelerator.request > 1 ? 'pgpu' : 'gpu' }
        resourceLimits   = { task.accelerator.request > 1 ? [ cpus: 128, memory: 2.TB, time: 2.d ] : // pgpu queue
                                                            [ cpus: 64, memory: 500.GB, time: 2.d ] } // gpu queue
    }
}
    
// Slurm defaults
executor {
    queueSize       = 150
    submitRateLimit = '2 sec'
}

// Environment variables
env {
    APPTAINER_CACHEDIR="${params.scratchdir_charite}/.apptainer/cache"
    APPTAINER_TMPDIR="${params.scratchdir_charite}/.apptainer/tmp"
}

// Container settings (see https://docs.seqera.io/nextflow/reference/config/apptainer for more info)
apptainer {
    autoMounts  = true
    enabled     = true
    pullTimeout = 2.h
    // Specify where Apptainer will save images
    cacheDir    = System.getenv('NXF_APPTAINER_CACHEDIR') ? System.getenv('NXF_APPTAINER_CACHEDIR') : "${params.scratchdir_charite}/apptainer-images"
}

// Specify Nextflow's work directory
workDir = System.getenv('NXF_WORK') ? System.getenv('NXF_WORK') : "${params.scratchdir_charite}/nxf-work"

// Enable "trace" feature and allow overwriting of existing trace files
trace {
    enabled   = true
    overwrite = true
}

// Enable "report" feature and allow overwriting of existing report files
report {
    enabled   = true
    overwrite = true
}

// Enable "timeline" feature and allow overwriting of existing timeline files
timeline {
    enabled   = true
    overwrite = true
}

// Enable "dag" feature and allow overwriting of existing dag files
dag {
    enabled   = true
    overwrite = true
}

// Additional profiles
// Some of the partitions below are not accessible to all user groups. Get in touch with sc-hpc-helpdesk@charite.de to request access
profiles {
    dragen_gp {
        process {
            queue          = 'dragen_gp'
            resourceLimits = [ cpus: 48, memory: 240.GB, time: 7.d ]
        }
    }
    dragen_cc05 {
        process {
            queue          = 'dragen_cc05'
            resourceLimits = [ cpus: 64, memory: 500.GB, time: 7.d ]
        }
    }
    dragen_cc15 {
        process {
            queue          = 'dragen_cc15'
            resourceLimits = [ cpus: 64, memory: 500.GB, time: 7.d ]
        }
    }
    highmem {
        process {
            queue = 'highmem'
            resourceLimits = [ cpus: 192, memory: 4.TB, time: 2.d ]
        }
    }
    genomics {
        process {
            queue          = 'genomics'
            resourceLimits = [ cpus: 192, memory: 1.TB, time: 7.d ]
            clusterOptions = '--exclude=s-sc-genomics[01]' // Reserved for demultiplexing
        }
    }
    // Disable automatic cleanup
    debug {
        cleanup = false
    }
}

// Cleanup after successful run
cleanup = true
